.content.app {
    padding: 0;
}

.content.app .col-md-12:first-child, .content.app .col-12:first-child {
    padding-right: 0px;
    padding-left: 0px;
}
.content-header {
    padding: 0px;
}

.card {
    border-radius: 0rem;
}

.pull-right {
    float: right;
}

#map {
	height: 400px;
}

.actives {
    border-bottom: 2px solid #007bff;
}
.actives .nav-link {
    color: #007bff;
}

.cutabs .info-box {
    min-height: 0px;
}

.has-error .help-block {
    color: red;
}











.min-h-screen.flex.flex-col.sm\:justify-center.items-center.pt-6.sm\:pt-0.bg-gray-100 {
    background-color: #47c1ba;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #44bdb5;
    color: #fff;
}

.bg-blue {
    background-color: #44bdb5 !important;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:not(:disabled):not(.disabled):active {
    background-color: #4f4f4f;
	color: #fff;
	border-color: #4f4f4f;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:not(:disabled):not(.disabled):active {
    background-color: #44bdb5;
	color: #fff;
	border-color: #44bdb5;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #44bdb5;
	color: #fff;
	border-color: #44bdb5;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning:not(:disabled):not(.disabled):active {
    background-color: #f6653c;
	color: #fff;
	border-color: #f6653c;
}

a {
    color: #44bdb5;
}

a:hover {
    color: #44bdb5;
    text-decoration: none;
}


.pagination nav.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pagination nav.flex svg {
    font-size: 16px !important;
    width: 20px !important;
}
.pagination nav.flex .flex a.relative {
    color: #86704f;
}
.pagination nav.flex .flex a.relative:hover {
    text-decoration: none;
    background-color: #86704f !important;
    color: #fff !important;
}
.pagination nav.flex .hidden a.relative {
    color: #86704f;
}
.pagination nav.flex>.hidden>div>.leading-5 {
    display: none;
}

.pagination .flex.justify-between.flex-1.sm\:hidden {
    display: none;
}